

{{form_start(form, {'attr': {'class': 'pure-form'}}) }}


{{form_label(form.url)}}
{{form_widget(form.url)}}
<button type="submit" class="pure-button pure-button-primary" name="button">Add</button>

{{form_end(form)}}
