{{ form_start(form , {'attr': {'class': "pure-form pure-form-stacked"}}) }}
  {# This stuff makes it look like materialize #}
  <span class="red-text">{{form_errors(form)}}</span>

      <span>Choose File</span>
            {{ form_widget(form) }}


<button type="submit" class="pure-button pure-button-primary" name="submit">Upload</button>


{{ form_end(form) }}
