{{ form_start(form) }}
  <div class="input-field">
    {{form_widget(form)}}
  </div>
  <div class="row">
    <div class="col m4 push-m10">
      <button type="submit" name="submit" class="btn">Post</button>
    </div>
  </div>

{{ form_end(form) }}
