    {{ form_start(form, {'attr': {'class': "pure-form pure-form-stacked"}}) }}
      {{ form_widget(form) }}

          <button type="submit" name="submit" class="pure-button pure-button-primary">Update</button>
    {{ form_end(form) }}
