<div class="card">
  <div class="card-content">
    <span class="card-title">Set up your profile</span>
    {{ form_start(form) }}
      {{ form_widget(form) }}
      <div class="row">
        <div class="col m4 push-m8">
          <button type="submit" name="submit" class="btn"><i class="material-icons left">done</i> Done</button>
        </div>
      </div>
    {{ form_end(form) }}
  </div>
</div>
