    <form  action="{{path('remove_feed_by_id', {'id': feed.id})}}" method="post">
      <input type="hidden" name="redirect_route" value="{{ app.request.attributes.get('_route') }}">
      <button type="submit" class="pure-button red" name="button">Delete</button>
    </form>
