{{ form_start(form) }}
<div class="card">
  <div class="card-content">
    <span class="card-title">Twitter Settings</span>
    <p class="light">Use this form to enter information to connect your Twitter account. This will let you share your posts to Twitter.</p>

    {{form_widget(form)}}
  </div>
</div>

<button type="submit" class="btn">Update</button>
{{ form_end(form) }}
