{{ form_start(form) }}
  <div class="input-field">
    {{form_widget(form)}}
  </div>
  <div class="row">
    <div class="col m4 push-m8">
      <button type="submit" name="submit" class="btn"><i class="material-icons left">done</i>Update</button>
    </div>
  </div>

{{ form_end(form) }}
