<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test page</title>
  </head>
  <body>
    <p>I am a testing page. Please remember to change the template reference later</p>
  </body>
</html>
