<p>
You can write about yourself at length here. If you leave this field empty, the 'About' link on the public pages will not appear and people trying to access <em>/about</em> directly will be redirected to the Home page. If you choose to write about yourself, then the 'About' link on the public pages will appear, and the <em>/about</em> page will activate and allow people to visit. If you want to change this later, simply return to this page, empty the text box, and update. Once the box below is empty and updated, the 'About' links and page will disappear again.
</p>

<br>
<p>
The 'About' section is designed to be a full page, so feel free to write as much as you want. There is a character limit, but this is imposed by the database and not the software. You can write about the same amount here as you would in a long blog post or article. Same as the posts on your site, you can write in <a href="https://daringfireball.net/projects/markdown/syntax" target="_blank">markdown</a> to format the page content and add things like images and tables.
</p>
