{% extends 'AppBundle::base.html.twig' %}

{% block css %}
<link rel="stylesheet" href="{{asset('css/side-menu.css')}}">
{% endblock css %}

{% block body %}

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    {% include 'AppBundle:nav:admin_navbar.html.twig' %}

    <div id="main">
        <!-- <div class="header">
            <h1>Page Title</h1>
            <h2>A subtitle for your page goes here</h2>
        </div> -->

        <div class="content">
            {% block content %}{% endblock content %}
        </div>
    </div>
</div>




<script src="{{asset('js/ui.js')}}"></script>


{% endblock body %}
