{% extends 'AppBundle:admin:admin_base.html.twig' %}

{% block content %}
<div class="pure-g">
  <div class="pure-u-1">
    <h1>Change Password</h1>
  </div>
  <div class="pure-u-1">
    {% include 'AppBundle:form:change_password.html.twig' with {'form': changePasswordForm} only %}

  </div>
</div>




{% endblock content %}
