{% extends 'AppBundle::base.html.twig' %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col m6 offset-m3">

        <div class="card">
          <div class="card-content">
            <span class="card-title">Set up your profile</span>


            {% include 'AppBundle:form:quick_profile.html.twig'  %}

          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock body %}
