{% extends 'AppBundle:admin:admin_base.html.twig' %}


{% block content %}

  <div class="pure-g">
    <div class="pure-u-1">
      <strong>Post</strong>
      {% include 'AppBundle:form:quick_note_form.html.twig' with {'form': form} only %}

    </div>
  </div>


{% endblock content %}
