{% extends 'AppBundle:admin:admin_base.html.twig' %}

{% block content %}

<div class="pure-g">
  <div class="pure-u-1">
    <h1>Edit Profile</h1>
  </div>

  <div class="pure-u-1">

    {% include 'AppBundle:form:full_profile_form.html.twig' with {'form': form} only %}
  </div>
</div>





{% endblock content %}
