{% extends 'AppBundle:admin:admin_base.html.twig' %}

{% block content %}
<div class="row">
  <div class="col s12">
    <div class="card-panel">

      {% include 'AppBundle:form:add_rss_feed.html.twig' with {'form' : form} only %}

    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">

    <ul class="collection">
      {% for feed in feeds %}
        <li class="collection-item">
          <h4 style="color: {{feed.colour}}" class="light">{{feed.title}}</h4>

          {% include 'AppBundle:form:rss_actions_form.html.twig' with {'feed': feed} only %}

        </li>
      {% endfor %}

    </ul>

  </div>
</div>
{% endblock content %}
