{% extends 'AppBundle:admin:admin_base.html.twig' %}

{% block content %}
<div class="row">
  <div class="col s12">
    <div class="card-panel">

      {% include 'AppBundle:form:add_rss_feed.html.twig' with {'form' : form} only %}

    </div>
  </div>
</div>

<div class="row">
{% for row in feeds|batch(3) %}
  <div class="row">
    {% for item in row %}

      <div class="col s12 m4">
        <div class="card">
          <div class="card-content">
            <span class="card-title" style="color: {{item.colour}}">{{item.title}}</span>

            <br>
            {% include 'AppBundle:form:rss_actions_form.html.twig' with {'feed': item} %}
          </div>
        </div>
      </div>

    {% endfor %}
  </div>
{% else %}
    <p>You've not added any RSS feeds yet!</p>
{% endfor %}
</div>
{% endblock content %}
