{% extends 'AppBundle:admin:admin_base.html.twig' %}


{% block content %}

<div class="pure-g">

  <div class="pure-u-1">
    <h1>My Articles</h1>
  </div>

  <div class="pure-u-1">
    <table style="width: 100%;" class="pure-table">
      <thead>
        <th>Date</th>
        <th>Title</th>
        <th>Action</th>
      </thead>

      <tbody>
        {% for p in posts %}
          <tr>
            <td>{{p.date|date('d/m/Y')}}</td>
            <td>
            {{p.title}} <br>
            <a href="{{path('download_post_markdown', {'id': p.id})}}">Download</a>

            </td>
            <td>
              {% include 'AppBundle:form:post_actions_form.html.twig' with {'post':p} only %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>





{% endblock content %}
