{% extends 'AppBundle:admin:admin_base.html.twig' %}

{% block content %}

  <div class="row">
    <div class="col s12 m12">

      <div class="card">
        <div class="card-content">
          <span class="card-title">Profile Settings</span>

          {% include 'AppBundle:form:quick_profile.html.twig' with {'form': quickProfileForm} only %}

        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col s12 m12">

      <div class="card">
        <div class="card-content">
          <span class="card-title">Change Password</span>

          {% include 'AppBundle:form:change_password.html.twig' with {'form': changePasswordForm} only %}

        </div>
      </div>

    </div>
  </div>



{% endblock content %}
