{% extends 'AppBundle:admin:admin_base.html.twig' %}

{% block content %}

<div class="pure-g">
  <div class="pure-u-1">
    <h1>{{title}}</h1>
  </div>

  {% for item in feed %}
    <div class="pure-u-1">
      <h2><a href="{{item.link}}" target="_blank">{{item.title|raw}}</a></h2>
      <p>Posted {{item.lastModified|date('d M Y')}}</p>
    </div>
  {% endfor %}
</div>


{% endblock content %}
