{% extends 'AppBundle:admin:admin_base.html.twig' %}

{% block content %}

    <div class="pure-g">
      <div class="pure-u-1">
        {% include 'AppBundle:form:write_post_form.html.twig' with {'form': form} only %}

      </div>
    </div>

      


{% endblock content %}
