{% extends 'AppBundle:security:login_registration_base.html.twig' %}

{% block form %}

          {% if error %}
          <div class="red-text">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}

          {% include 'AppBundle:form:login_form.html.twig' %}

{% endblock form %}
