#navbar_central_logo {
  margin-top: 0.3em;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 80px;
}

#navbar-page-title {
  padding-left: 2em;
}

ul.side-nav.fixed.grey .material-icons {
  color: #FFFFFF;
}

ul.side-nav.fixed.grey a {
  color: #FFFFFF;
}

header, main, footer {
     padding-left: 300px;
   }

@media only screen and (max-width : 992px) {
   header, main, footer {
     padding-left: 0;
     }

    #navbar-page-title {
      padding-left: 0;
    }
  }
