/* Make text nice and readable */
.readable {
  font-size: 18px;
}

.center
{
  text-align: center;
}

/* Define some colours for bgs, fillers, etc */
.grey {
  background-color: #212121;
}

.red {
  background-color: #B71C1C;
}

.white-text {
  color: #FFF;
}

button.red {
  color: white;
}

a, .light-blue-text {
  color: #4FC3F7;
}

/* Clean up anchors */
a {
  text-decoration: none;
}


/* Define a section (ie vertical padding) */
.section {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Make posts listed in the field go all pretty */
.feed-item {
  padding: 1em;
  border-bottom: 1px solid #eee;
}

/* Tags */
.tags a {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0.5em;
  color: #000;
}
.tags a:hover{
  background-color: #aec6cf;
  color: #FFF;
}

/* Clean up forms */
table,textarea, input[type='text'] {
  width: 100%;
}

.article-textarea {
  height: 50em;
}

table{
  margin-top: 2em;
}




/* Pure doesn't contain a container, so nab the bootstrap rules */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
