<div class="card-panel">
  {{post.content|markdown}}

  <p class="light">Posted at {{post.date|date('H:i:s d M Y')}}</p>

  <p class="light">
     Available at <a href="{{path('view_post_by_id', {'id': post.id})}}">{{url('view_post_by_id', {'id': post.id})}}</a>
  </p>

  {% include 'AppBundle:post:post_tags.html.twig' %}

</div>
