{% extends 'AppBundle:public:public_base.html.twig' %}

{% block content %}

<div class="container">
  <div class="row">
    <h1>About</h1>
  </div>

  <div class="row">
    <div class="col s12 m12">

      {{profile.about}}

    </div>
  </div>
</div>

{% endblock content %}
