{% extends 'AppBundle:public:public_base.html.twig' %}


{% block content %}

<div class="container">
    <h1>Blog Posts</h1>

  {% for post in posts %}

    {% include 'AppBundle:post:list_of_articles_entry.html.twig' with {'post': post} only %}

    {% else %}
        <p>Oh no, there's no blog posts!</p>
  {% endfor %}
</div>


{% endblock content %}
