{% extends 'AppBundle:public:public_base.html.twig' %}


{% block content %}
<div class="container">
  {# Previous and next links #}
  <div class="row center">

    <div class="col s6 m3 offset-m3">
      {% if previous is not null %}<a href="{{path('view_post_by_id', {'id': previous.id})}}"><h4><i class="material-icons">chevron_left</i>Previous</h4></a>{% endif %}
    </div>

    <div class="col s6 m3">
      {% if next is not null %}<a href="{{path('view_post_by_id', {'id': next.id})}}"><h4>Next<i class="material-icons">chevron_right</i></h4></a>{% endif %}
    </div>

  </div>


{# Post content #}
  <div class="row">
    <div class="col s12 m10 offset-m1">
      {% include 'AppBundle:post:post_master.html.twig' %}
    </div>
  </div>
</div>

{% endblock content %}
