<h2>
  <a href="{{path('index_by_year_month', {'year': dates.lastMonth|date('Y'), 'month': dates.lastMonth|date('n')}) }}">&#12296;</a>

  {{dates.current|date('F Y')}}

  <a href="{{path('index_by_year_month', {'year': dates.nextMonth|date('Y'), 'month': dates.nextMonth|date('n')}) }}"><i class="material-icons">&#12297;</a>



</h2>
