<div class="section blue darken-4 white-text">
  <div class="container">

    {# For descriptions and stuff #}
    <div class="row">
    {# TODO remember to put the profile image in at some point! Even just Gravatar for now #}

      <div class="col s12 m6 offset-m2">
        <p>
          {{profile.description}}
        </p>
      </div>
    </div>

    {# For the links #}
    <div class="row">
      <div class="col s12 m6 offset-m3 center">
        <a class="light-green-text" href="{{path('index')}}">Home</a> ::
        <a href="#">Blog</a>
        {% if profile.about is not null  %} :: <a href="#">About</a> {% endif %}
      </div>
    </div>


  </div>
</div>
