<h4>
  <a href="{{path('index_by_year_month', {'year': dates.lastMonth|date('Y'), 'month': dates.lastMonth|date('n')}) }}"><i class="material-icons">chevron_left</i></a>

  {{dates.current|date('F Y')}}

  <a href="{{path('index_by_year_month', {'year': dates.nextMonth|date('Y'), 'month': dates.nextMonth|date('n')}) }}"><i class="material-icons">chevron_right</i></a>



</h4>
